body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #e2efef;
    color: #333;
}

.navbar {
    background-color: #78b191; /* Navbar en color predominante */
}

.navbar .nav-link, .navbar .navbar-brand {
    color: white !important;
}

.navbar .btn-outline-light {
    border-color: white;
    color: white;
}

footer {
    background-color: #78b191; /* Footer en color predominante */
    color: white;
}

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #c6e2a3; /* Fondo de tarjeta */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-weight: bold;
    color: #315354; /* Color del título */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-success {
    background-color: #458267; /* Color de fondo del botón */
    border: none;
}

.btn-success:hover {
    background-color: #5d887b; /* Color del botón al pasar el ratón */
}

.col-md-4 {
    padding: 15px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #78b191; /* Color del título principal */
}
